<%= form_for @dog do |f| %>
  <p>
    <%= f.label :dog_name %>
    <%= f.text_field :dog_name %>
  </p>
  <p>
    <%= f.label :dog_color %>
    <%= f.text_field :dog_color %>
  </p>
  <p>
    <%= f.submit 'Create Dog' %>
  </p>
<% end %>

<% @dogs.each do |dog| %>
<ul>
  <li>
    <%= dog.dog_name %>, <%= dog.dog_color %>
  </li>
</ul>
<% end %>